<button type="button" class="btn btn-primary" routerLink="/product/create">Add New Product</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Part Number</th>
      <th scope="col">Price</th>
      <th scope="col">Vendor</th>
      <th scope="col">Unit</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.partNumber }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.vendor.name }}</td>
      <td>{{ product.unit }}</td>
      <td><a routerLink="/product/detail/{{ product.id }}">Details</a></td>
    </tr>
  </tbody>
</table>
